apiVersion: v1
kind: Secret
metadata:
  name: atlantis-secrets
  namespace: atlantis
type: Opaque
stringData:
  github-user: "AlexBuQA"
  repo-allowlist: "github.com/AlexBuQA/*"
  github-token: "<personal_access_token_classic_repo_scope>"
  webhook-secret: "<random_string_32_chars>"
  yc-token: "<yc_iam_or_oauth_token>"
  yc-cloud-id: "<cloud_id>"
  yc-folder-id: "<folder_id>"
  s3-access-key: "<terraform_sa_access_key>"
  s3-secret-key: "<terraform_sa_secret_key>"
  ssh-public-key: "<ssh_public_key_for_vm>"
